.add-player-form {
    display: none;
    opacity: 0;

}

.add-player-form-active {
	width: 50vw;
    transform: translate(50%, -25%);
	opacity: 1;
    position: absolute;
    top: 50vh;
    right: 50vw;
    z-index: 1000;
}

.bg {
    background-color: rgb(148 163 184)
}

.red-border {
    border-color: rgb(185 28 28)
}

tr {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}